@font-face {
  font-family: 'MontserratBold';
  src: url(../app/typogrpy/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'MontserratRegular';
  src: url(../app/typogrpy/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'MontserratLight';
  src: url(../app/typogrpy/Montserrat-Light.ttf);
}

@font-face {
  font-family: 'LostaMastaThin';
  src: url(../app/typogrpy/LostaMasta-Thin.ttf);
}

// @font-face {
//   font-family: 'LostaMastaThin';
//   src: url(../../app/typogrpy/LostaMasta-Light.ttf);
// }